{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": true,
        "shippedProposals": true
      }
    ],
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/transform-flow-strip-types"
  ]
}